<div *ngIf="setSettingsFormVisible" class="col-sm-12">
  <div class="jumbotron">
    <h2>Welcome to AWS - Serverless hackaton 2016</h2>
    <p>Please, add backend parameters and save it.</p>
  </div>
  <div class="col sm-12 aws-settings__holder">
    <input [(ngModel)]="awsSettings.url" name="url" type="text" class="form-control" placeholder="Url (e.g.): https://6b2z1n4hb4.execute-api.eu-west-1.amazonaws.com/dev/posts" aria-describedby="url">
    <button type="button"
            name="button"
            class="btn btn-lg btn-success"
            (click)="saveAWSSettingsClicked()">
      save AWS settings
    </button>
  </div>
</div>

<div *ngIf="posts.length == 0 && !newStoryFormVisible && !setSettingsFormVisible" class="col-sm-12">
  <div class="jumbotron">
    <h2>Nothing to see yet here!</h2>
    <p>...</p>
    <p>
      <button type="button"
              name="button"
              class="btn btn-lg btn-success"
              (click)="addNewStoryClicked()">
        add new story
      </button>
    </p>
  </div>
</div>

<div class="col-sm-12 new-story__holder" *ngIf="newStoryFormVisible">
  <div class="col-sm-12 new-story__holder__items">
    <input [(ngModel)]="editableItem.id" name="id" type="text" hidden>
    <input [(ngModel)]="editableItem.title" name="title" type="text" class="form-control" placeholder="Title" aria-describedby="title">
    <textarea [(ngModel)]="editableItem.content" name="content" cols="30" rows="10" class="form-control" placeholder="Content"></textarea>
    <button type="button"
            name="button"
            class="btn btn-lg btn-success"
            (click)="saveStory()">
      save
    </button>
    <button type="button"
            name="button"
            class="btn btn-lg btn-default new-story__cancel-button"
            (click)="cancelSavingStory()">
      cancel
    </button>
  </div>
</div>

<div class="col-sm-12" *ngIf="!newStoryFormVisible && posts.length > 0">
  <div class="alert alert-{{ alert.type }} alert-dismissible" role="alert" *ngIf="alert.visible">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="closeAlert()">
      <span aria-hidden="true">&times;</span>
    </button>
    {{ alert.message }}
  </div>
  <div class="col-sm-12">
    <div class="col-sm-12 blog__header__new-button">
      <button type="button"
              name="button"
              class="btn btn-lg btn-success"
              (click)="addNewStoryClicked()">
        add new story
      </button>
    </div>
    <div *ngFor="#post of posts" class="col-sm-12 post__item">
      <div class="col-sm-12 post__item__date">
        [ {{ post.date | date:'fullDate' }} ]
      </div>
      <div class="col-sm-12 post__item__title">
        <h3>{{ post.title }}</h3>
      </div>
      <div class="col-sm-12 post__item__content">
        {{ post.content }}
      </div>
      <div class="col-sm-12 push-right post__item__button-holder">
        <button type="button"
                name="button"
                class="btn btn-primary"
                (click)="editButtonPressed(post)">
          edit
        </button>
        <button type="button"
                name="button"
                class="btn btn-danger"
                (click)="deleteButtonPressed(post)">
          delete
        </button>
      </div>
    </div>
  </div>
</div>
